# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.Python
Python-*-*.pth
*.stackdump

# Distribution / packaging
.Python
build/
dist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.log.*
